$inner: 1200px;

.inner {
	width: $inner;
}

.top-nav {
	// delete later if we don't use it
	right: 0;
}

.slider {
	height: 450px;

	.uk-slideshow {
		li {
			// Caption
			.uk-overlay-panel {
				display: block;
				font-size: 48px;
				height: 200px;
				left: 50%;
				line-height: 1.2;
				margin: 0 0 0 (($inner/2)*-1);
				overflow: hidden;
				padding: 0;
				top: 60px;
				width: 700px;
			}
		}
	}
}

.container {
	.main-content {
		width: 920px;

		p,
		ul li,
		ol li {
			text-align: justify;
		}

		.blog {
			.blog-item {
				border-bottom: solid 1px $border-color;
				float: left;
				width: 45%;
				padding: 20px 0;

				&:nth-child(2n + 1) {
					margin-right: 10%;
				}
			}
		}
	}

	.left {
		width: 230px;
	}
}

.before-content {
	// delete later if we don't use it

	// Projects - detailed info
	.projects-detailed-info {
		.uk-panel {
			.uk-panel-teaser {
				float: left;
				margin: 0;
				width: 27%;
			}

			.content {
				float: right;
				margin: 0;
				width: 70%;
			}
		}
	}

	// Projects - slideshow
	.projects-slider {
		font-size: 17px;

		h3 {
			font-size: 25px;
		}

		.nav {
			display: block;
		}
	}
}

.zoo-gallery-wall {
	.thumb {
		margin: 0 0.5% 0.5% 0 !important;
		width: 16.25%;

		&:nth-child(5n) {
			margin-right: 0.5% !important;
		}

		&:nth-child(6n) {
			margin-right: 0 !important;
		}
	}
}
