/* Sticky Footer Code */

html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
}

.home-container {
	padding-bottom: 80px !important;
	overflow: auto;
}

/* END Sticky Footer Code */

.inner {
	padding: 0 25px;
}

.top-nav {
	// delete later if we don't use it
	display: block !important;
	position: absolute;
	right: 25px;
	top: 15px;

	ul.menu {
		li {
			border: none;
			border-right: solid 1px $tm_text;
			display: block;
			float: left;

			&:last-child {
				border-right: none;

				a {
					padding-right: 0;
				}
			}

			&.active a,
			&:hover a {
				color: $tm_text_hover;
				background: none;
			}

			a {
				background: none;
				color: $tm_text;
				font-size: 11.5px;
				padding: 0 10px;
				text-transform: uppercase;
			}
		}
	}
}

.container {
	.main-content {
		float: right;
		padding: 0;
		width: 72%;
	}

	.left {
		float: left;
		width: 25%;
	}
}

.sub.full-width {
	.container {
		.main-content {
			width: 100%;
		}

		.left {
			display: none;
		}
	}
}

.before-content {
	// delete later if we don't use it

	// Projects - detailed info
	.projects-detailed-info {
		.uk-panel {
			.uk-panel-teaser {
				float: left;
				margin: 0;
				width: 27%;
			}

			.content {
				float: right;
				margin: 0;
				width: 70%;
			}
		}
	}
}

.wpcf7 {
	.col-1 {
		float: left;
		width: 49%;
	}

	.col-2 {
		float: right;
		width: 49%;
	}
}
