$inner: 960px;

.inner {
	margin: 0 auto;
	padding: 0;
	width: $inner;
}


.zoo-gallery-wall {
	.thumb {
		margin: 0 0.75% 0.75% 0 !important;
		width: 19.333%;
		
		&:nth-child(5n) {
			margin-right: 0 !important;
		}
	}
}