/* #links  */

$readmore_bg: none;
$readmore_text: $primary;
$readmore_bg_hover: $primary;
$readmore_text_hover: $white;

/* #NAVIGATION */

$menu_background-color: $primary;
$menu_separator_color: #939393;
$menu_text_transform: uppercase;
$menu_padding: 10px 30px;

$mobile_menu_bg: #222;
$mobile_menu_text: $secondary;
$mobile_menu_bg_hover: $primary;
$mobile_menu_text_hover: $white;
$mobile_menu_padding: 12px 15px;
$mobile_menu_font_size: 0.93rem;

$menu1_bg: transparent;
$menu1_text: $white;
$menu1_bg_hover: #222;
$menu1_text_hover: $white;

$menu2_bg: $primary;
$menu2_text: $white;
$menu2_bg_hover: #222;
$menu2_text_hover: $white;

/* #topmenu  */
$tm_text: #222;
$tm_text_hover: $white;

/* #sidemenu */
$sm_bg: $secondary;
$sm_text: $body-color;
$sm_bg_hover: $primary;
$sm_text_hover: $white;

/* #footermenu */
$fm_text: #767675;
$fm_text_hover: $primary;
