h1,
h2,
h3,
h4 {
	margin: 0;
	font-weight: 400;
	color: $headings-color;
}

blockquote {
	padding: 0 0 0 20px;
	margin: 15px 0;
	font-size: 19px;
	line-height: 1.3;
	color: $body-color;
	border-left: solid 4px $primary;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

table,
.container .main-content table {
	tr {
		td {
			border: none;
			margin: 0;
			padding: 0;
		}
	}

	p {
		margin: 0;
		text-align: inherit;
	}
}

table,
.container .main-content table {
	background-color: $table-bg;
	border-collapse: collapse;
	border: none;
	width: 100%;

	tr {
		border-bottom: solid 1px #fff;

		th {
			padding: 9px 15px;
			font-weight: 400;
			color: $table-head-color;
			text-align: left;
			background: $table-head-bg;
		}

		td {
			padding: 9px 15px;
			margin: 0;
			border: none;
		}

		&:nth-child(even) td {
			background-color: $table-accent-bg;
		}
	}
}

// uncomment and split readmore and button style is necessary
/*
.readmore {
	background: $readmore_bg;
	color: $readmore_text !important;
	text-decoration: none;

	&:hover {
		background: $readmore_bg_hover;
		color: $readmore_text_hover !important;
		text-decoration: none;
	}
}
*/

hr {
	background: $border-color;
	border: none;
	color: $border-color;
	height: 1px;
}

.container {
	p {
		margin: 15px 0;
	}

	img {
		height: auto !important;
		max-width: 100%;
	}
}

.main-content {
	h1 {
		margin: 0 0 25px 0;
		font-size: 35px;
		line-height: 1.2;
	}

	h2 {
		margin: 15px 0;
		font-size: 23px;
		line-height: 1.2;
	}

	h3 {
		margin: 15px 0;
		font-size: 21px;
		line-height: 1.2;
	}

	h4 {
		margin: 15px 0;
		font-size: 19px;
		line-height: 1.2;
	}

	ul {
		margin: 15px 0 15px 20px;
		padding: 0;

		li {
			list-style: disc;
			margin: 5px 0;
			padding: 0;

			p {
				margin: 0;
			}
		}
	}

	ol li p {
		margin: 0;
	}
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
	padding: 10px;
	margin: 0;
	line-height: 1;
	color: $body-color;
	border: solid 1px $input-border-color;
	border-radius: $input-border-radius;

	&:focus {
		border-color: $input-focus-border-color;
		outline: 0;
	}

	&::placeholder {
		color: $input-placeholder-color;
		opacity: 1;
	}
}

textarea {
	height: 150px;
}

.readmore,
input[type="submit"],
button,
.button,
.uk-button {
	background-color: $readmore_bg;
	border: solid 1px $readmore_bg_hover;
	border-radius: 0;
	color: $readmore_text !important;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family-base;
	font-size: 14.5px;
	line-height: 1;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;

	@include hover-focus() {
		background-color: $readmore_bg_hover;
		border: solid 1px $readmore_bg_hover;
		color: $readmore_text_hover;
	}
}
